{% from 'MopaBootstrapBundle::flash.html.twig' import session_flash %}

{% extends 'MopaBootstrapBundle::base.html.twig' %}

{% block title %}{% trans %}title{% endtrans %}{% endblock %}

{% block head_style %}
{% stylesheets
    '@BetterDreamWebBundle/Resources/public/less/betterdreamweb.less'
%}
<link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
{% endstylesheets %}
{% endblock head_style %}

{% block navbar %}
{{ mopa_bootstrap_navbar('frontendNavbar') }}
{% endblock navbar %}

{% block container %}
<div class="container">
    <div class="content">
        {% block page_header %}
        <div class="page-header">
            <h1>{% block headline %}{% trans %}title{% endtrans %}{% endblock headline %}</h1>
        </div>
        {% endblock page_header %}

        {% block flashes %}
        {{ session_flash() }}
        {% endblock flashes %}

        {% block content %}
            <strong>Better Dreams !!!</strong>
        {% endblock content %}
    </div>
    <hr>
    <footer>
        {% block footer %}
        <p>&copy; <a href="{% trans %}uri.adrienbrault{% endtrans %}" target="_blank">Adrien Brault</a> 2012</p>
        {% endblock footer %}
    </footer>
</div>
{% endblock container %}
